body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/pexels-fauxels-3184192.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:rgb(41, 5, 5);
}

.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero img {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about, .menu, .ambiance, .contact {
    padding: 40px 0;
    text-align: center;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    color: #350404;
}

.menu-item img {
    max-width: 80px;
    margin-right: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
